#ignorar todos os diretorios listados abaixo em qualquer subdiretorio
work_space/
temp/
build/
dist/
lib/
trash/
teste*/
test/
old/
ignore/
#ignorar todos os arquivos por extensao
*~
*.rar
*.zip
*.o
*.cfg
*.tpl
*.pof
*.sgl
*.tpl
*.err
*.log
*.lp
*.txt
*.pdf
*.csv
*.xlsx
*.xls
*.prj
*.class
*.png
*.jpg
/ProOFClient/nbproject/private/
/ProOFLanguage/nbproject/private/
/ProOFSlave/nbproject/private/
/ProOFServer/nbproject/private/
/ProjectJava/nbproject/private/
/ProOFStatistics/ProOFStatistics/nbproject/private/
/ProOFCluster/nbproject/private/
/ProOFJava/nbproject/private/